<!-- Header -->
<div id="header">
	<!--<span class="logo icon fa-paper-plane-o"></span>-->
	<img src="../../../images/scoop.png" height="125" width="125"> 
	<h1>Scoop</h1>
	<p>A custom RSS reader. </p>
	<nav>
		<ul>
			<li><a href="/feeds">Feeds</a></li>
			<li><a href="/form_search">Search</a></li>
			<li><a href="/feeds/2/articles">Explore</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
</div>

<a id="feedsEditAnchor"></a>
<!-- MAIN --> 
<div id="main">
	<div class="box container">
		<section>
			<header>
				<h3>Editing Feed</h3>
			</header>
			<div>
				<%= render 'form', feed: @feed %>
			</div>
		</section>
	</div>
</div>

<!-- Footer -->
<div id="footer">
	<div class="container 75%">
		<header class="major last">
			<h2>Made by the Supreme Team for CS499.</h2>
		</header>
	</div>
</div>