<!DOCTYPE HTML>
<!--
  Directive by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>Scoop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="../../assets/main.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  </head>
  <body>
<!-- Header -->
<div id="header">
	<!--<span class="logo icon fa-paper-plane-o"></span>-->
	<img src="../images/scoop.png" height="125" width="125"> 
	<h1>Scoop</h1>
	<p>A custom RSS reader.</p>
</div>

<!-- MAIN --> 
<div id="main">
	<div class="box container">
		<section>

			<header>
				<% flash.each do |key, value| %>
					<div class="alert alert-<%= key %> alert-dismissible">
					<!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
					<%= value %>
					</div>
				<% end %>
				
				<section>
				<header>
					<h3>Query Language</h3>
				</header>
				<div class="table-wrapper">
					<table class="default">
						<thead>
							<tr>
								<th>Input Type</th>
								<th>Example</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Words</td>
								<td>Require every word to be present, e.g.: some search keywords</td>
							</tr>
							<tr>
								<td>Phrases</td>
								<td>Use quotes for multi-word phrases, e.g. "police car"</td>
							</tr>
							<tr>
								<td>Negation</td>
								<td>Look for “everything but”, e.g. police -uniform, -"police car", police NOT car</td>
							</tr>
							<tr>
								<td>Logical Keywords</td>
								<td>Make logical constructs using AND, OR, &&, ||, &, | operators, e.g. uniform OR car, scoped && search</td>
							</tr>
							<tr>
								<td>Parentheses</td>
								<td>To structure logic e.g. "police AND (uniform OR car)"</td>
							</tr>
							<tr>
								<td>Comparison Operators</td>
								<td>To search in numerical or temporal fields, e.g. > 22, < 2009-01-01</td>
							</tr>
							<tr>
								<td>Explicit Fields</td>
								<td>Search only in the given field. e.g. username = root, created_at > 2009-01-01</td>
							</tr>
							<tr>
								<td>NULL Checks</td>
								<td>Using the set? and null? operator with a field name, e.g. null? graduated_at, set? parent_id</td>
							</tr>
						</tbody>
					</table>
				</div>
				<%= button_to 'Back', form_search_path, method: :get %>
			</section>
			</header>
			
		</section>
	</div>
</div>
<!-- Footer -->
<div id="footer">
	<div class="container 75%">

		<header class="major last">
			<h2>Questions or comments?</h2>
		</header>

		<p>Send us a message.</p>

		<form method="post" action="#">
			<div class="row">
				<div class="6u 12u(mobilep)">
					<input type="text" name="name" placeholder="Name" />
				</div>
				<div class="6u 12u(mobilep)">
					<input type="email" name="email" placeholder="Email" />
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<textarea name="message" placeholder="Message" rows="6"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="12u">
					<ul class="actions">
						<li><input type="submit" value="Send Message" /></li>
					</ul>
				</div>
			</div>
		</form>

		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
		</ul>
	</div>
</div>
<!-- Scripts -->
		<script src="../../assets/jquery.min.js"></script>
		<script src="../../assets/skel.min.js"></script>
		<script src="../../assets/util.js"></script>
		<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
		<script src="../../assets/main.js"></script>
	</body>
</html>