<!-- Header -->
<div id="header">
	<!--<span class="logo icon fa-paper-plane-o"></span>-->
	<img src="images/scoop.png" height="125" width="125"> 
	<h1>Hi. This is Scoop.</h1>
	<p>A custom RSS reader. </p>
	<nav>
		<ul>
			<li><a href="/feeds">Feeds</a></li>
			<li><a href="/form_search">Search</a></li>
			<li><a href="/feeds/2/articles">Explore</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>		
</div>

<!-- Main -->
<div id="main">
	<header class="major container 75%">
		<h2>Scoop provides any user<br />
			with unlimited RSS feeds to <br />
			search for any topic.</h2>
			
		<p>With special consideration for <br />
		Dr. Wedeking and Dr. Zilis of UK.</p>
	</header>
	<article id="buttons">
		<div class="box alt container">
			<section class="feature left">
				<a href="/form_search" class="image icon fa-database"><img src="images/pic01.jpg" alt="" /></a>
				<div class="content">
					<h3>Search the Database</h3>
					<p>Use boolean logic and keywords to search our article database from any number of selected RSS feeds.</p>
				</div>
			</section>
			<section class="feature right">
				<a href="/feeds" class="image icon fa-rss"><img src="images/pic02.jpg" alt="" /></a>
				<div class="content">
					<h3>The Feeds</h3>
					<p>View, add, edit, or delete RSS feeds.</p>
				</div>
			</section>
			<section class="feature left">
				<a href="/feeds/2/articles" class="image icon fa-globe"><img src="images/pic03.jpg" alt="" /></a>
				<div class="content">
					<h3>Explore</h3>
					<p>Peruse the functionality of a normal RSS reader by viewing recent articles posted to any of the feeds in Scoop.</p>
				</div>
			</section>
		</div>
	</article>
</div>

<!-- Footer -->
<div id="footer">
	<div class="container 75%">
		<header class="major last">
			<h2>Made by the Supreme Team for CS499.</h2>
		</header>
	</div>
</div>