<!-- Header -->
<div id="header">
  <img src="../../images/scoop.png" height="125" width="125"> 
  <h1>Scoop</h1>
  <p>A custom RSS reader.</p>
  <nav>
    <ul>
      <li><a href="/feeds#feedsIndexAnchor">Feeds</a></li>
      <li><a href="/form_search#formSearchAnchor">Search</a></li>
      <li><a href="/articles#articlesIndexAnchor">Explore</a></li>
      <li><a href="/">Home</a></li>
    </ul>
  </nav>
</div>

<a id="imagesIndexAnchor">
<!-- Main -->
<div id="main"></a>
  <!-- TABLE SECTION-->
  <section>
		<p id="notice"><%= notice %></p>
		<div class="box container">
			<header>
				<h2>Images</h2>
        <p><%=@article.title%></p>
			</header>
      <div>
        <ol>
          <% @images.each do |image| %>
            <% url3 =  "image/" + image.id.to_s + "#imagesShowAnchor"%>
            <li>
              <a href=<%=url3%>>
                <div class="thumb1">
                  <img src="<%=image.url%>" class="thumb2"/>
                </div>
              </a>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
	</section>
</div>
<!-- Footer -->
<div id="footer">
  <div class="container 75%">
    <header class="major last">
      <h2>Made by the Supreme Team for CS499.</h2>
    </header>
  </div>
</div>