<!-- Header -->
<div id="header">
	<!--<span class="logo icon fa-paper-plane-o"></span>-->
	<img src="../../../images/scoop.png" height="125" width="125"> 
	<h1>Scoop</h1>
	<p>A custom RSS reader. </p>
	<nav>
		<ul>
			<li><a href="/feeds#feedsIndexAnchor">Feeds</a></li>
			<li><a href="/form_search#formSearchAnchor">Search</a></li>
			<li><a href="/articles#articlesIndexAnchor">Explore</a></li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
</div>

<!-- MAIN --> 
<a id="imagesShowAnchor">
<div id="main"></a>
	<div class="box container">
		<section>
			<header>
				<h3>Image Tags</h3>
					
			</header>

			<center><img src="<%=@image.url%>"/></center><br><br>
			<h3>Our Best Guesses</h3>
			<div class="table-wrapper">
				<table class="default">
					<tbody>
						<% @tags.each do |tag| %>
							<tr>
								<td><strong><%= tag.name %></strong></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>

					
				<div class="row">
					<div class="12u">
						<ul class="actions">
							<% url1 = "/articles/" + @image.article.id.to_s + "/images#imagesIndexAnchor" %>
							<li><a href=<%=url1 %>>Back</a></li>
						</ul>
					</div>
				</div>

		</section>
	</div>
</div>
<!-- Footer -->
<div id="footer">
	<div class="container 75%">
		<header class="major last">
			<h2>Made by the Supreme Team for CS499.</h2>
		</header>
	</div>
</div>